#page-search-results {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

#page-search-results header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

#page-search-results header a {
  color: var(--title-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}

#page-search-results header a span {
  width: 20px;
  height: 24px;
  display: flex;
  background-image: url('../svg/arrow-left.svg');
  margin-right: 1rem;
}

main {
  margin: 48px 0;
}

main h4 {
  font-weight: normal;
  margin-bottom: 32px;
}

main img {
  max-width: 100%;
  height: auto;
}

main .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

main .cards .card .box-img {
  width: 100%;
  height: 150px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  margin-bottom: 32px;
}
main .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main .card h2 {
  color: var(--title-color);
  font-size: 36px;
}

main .card h3 {
  color: #34cb79;
  font-weight: normal;
  margin: 32px 0;
  font-size: 24px;
}

main .card p {
  line-height: 26px;
}

body {
  background: #fff;
}

body::after {
  content: '';
  position: absolute;
  height: 16rem;
  background: #f0f0f5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}